@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.no-cursor {
  cursor: not-allowed;
}

/* 
    GENERAL
*/

.nav,
.main,
.movie__body,
.movie--results--header__container,
.movie__results__container {
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.white {
  color: white;
}

.blue {
  color: #55aedf;
}

.btn {
  border-radius: 9999px;
  border: none;
  color: white;
  background-color: #55aedf;
  font-weight: bold;
  transition: all 500ms ease;
}

input,
textarea {
  width: 100%;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

/* 
    NAVIGATION
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  border: none;
  padding-top: 16px;
}

.logo__container {
  display: flex;
  align-items: center;
}

.film-logo {
  width: 80px;
  height: 50px;
  padding-right: 8px;
  transition: all 300ms ease;
}

.company-name {
  color: #55aedf;
  font-style: italic;

  transition: all 500ms ease-in;
}

.film-logo:hover {
  transform: scale(0.9);
}

.company-name:hover {
  color: #f8d440;
  cursor: pointer;
}

.company-name--search {
  cursor: pointer;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 12px;
  display: inline-block;
  position: relative;
}

.nav__link:not(:last-child):after,
.menu__list::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #55aedf;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav__link:not(:last-child):hover::after,
.menu__list:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.nav__link--primary {
  font-size: 16px;
  background-color: #55aedf;
  color: #fff;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: #55aedf;
  display: none;
  transition: all 300ms ease;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(110%);
  opacity: 0;
  transition: all 300ms ease;
}

.menu__backdrop__container {
  display: none;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop__container {
  display: block;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  background-color: #fff;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
  display: inline-block;
  position: relative;
}

.menu__link {
  color: #55aedf;
  font-size: 32px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #55aedf;
}

/* 
  POPCORN BACKGROUND
*/

.popcorn {
  position: fixed;
  height: 50px;
  width: 50px;
}

.popcorn--0 {
  top: 15vh;
  left: 15vw;
}

.popcorn--1 {
  top: 15vh;
  left: 50vw;
}

.popcorn--2 {
  top: 15vh;
  left: 80vw;
}

.popcorn--3 {
  top: 50vh;
  left: 15vw;
}

.popcorn--4 {
  top: 50vh;
  left: 50vw;
}

.popcorn--5 {
  top: 50vh;
  left: 80vw;
}
.popcorn--6 {
  top: 80vh;
  left: 15vw;
}

.popcorn--7 {
  top: 80vh;
  left: 50vw;
}

.popcorn--8 {
  top: 80vh;
  left: 80vw;
}

/* 
  SEARCH SECTION
*/

.search__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search--content__container {
  position: relative;
  background-image: linear-gradient(#fff, #e43f32);
  padding: 16px;
}

.search__title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 32px;
}

.search__description {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.search__figure__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 32px;
}

.search__image {
  height: 100%;
  width: 500px;
}

/* 
  MAIN SECTION
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 10vh);
  padding: 16px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__description,
.search__bar__container {
  width: 100%;
  max-width: 800px;
}

.header__description {
  text-align: center;
  padding: 24px 16px;
}

.header__title {
  margin-bottom: 32px;
  color: #55aedf;
  font-size: 38px;
  font-weight: 600;
  animation: fade-up 650ms 200ms backwards;
}

.header__subtitle {
  font-weight: 600;
  animation: fade-up 650ms 400ms backwards;
}

.landing__image__container {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 40vw;
}

.landing__image {
  height: 100%;
  width: 100%;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.search__bar__container {
  display: flex;
  justify-content: center;
  padding: 24px 16px;
  margin: 0 auto;
}

.movie__form__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  animation: fade-up 650ms 600ms backwards;
}

.search__field {
  width: 100%;
  height: 60px;
  padding: 18px 12px;
  border-radius: 1rem;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.btn--search {
  position: absolute;
  margin-right: 8px;
  padding: 12px 26px;
  font-size: 16px;
  background-color: #55aedf;
  color: #fff;
  transition: all 300ms ease;
}

.btn:hover,
.movie__link:hover {
  transform: scale(0.9);
}

.btn:active {
  transform: translateY(4px);
}

/* 
  SEARCH RESULT SECTION
*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.movie__result__container {
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 25%;
  overflow-y: hidden;
}

.movie__img__container {
  position: relative;
  height: 450px;
}

.movie--learn--more__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.8);
  transform: translateY(-10%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
}

.learn--more {
  font-size: 28px;
}

.movie__img__container:hover .movie--learn--more__container {
  opacity: 1;
  transform: translateY(0);
}

.no--image__container,
.movie__img__container--skeleton {
  position: relative;
  width: 100%;
  height: 450px;
}

.no--image__container {
  display: flex;
  align-items: center;
}

.movie__genre__container {
  position: absolute;
  bottom: 10px;
  border-radius: 4rem;
  padding: 4px 12px;
  margin-left: 12px;
}

.movie--genre {
  background-color: #55aedf;
}

.series--genre {
  background-color: #f8d440;
}

.other--genre {
  background-color: #e43f32;
}

.movie__img,
.no--image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: all 300ms ease;
}

.no--image {
  height: 80%;
}

.result__container:hover .movie__img {
  transform: scale(1.03);
}

.movie--results--header__container {
  display: flex;
  align-items: center;
}

.movie--results--header--row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
  padding: 0 18px;
}

.results__title {
  font-size: 32px;
  font-weight: 500;
}

.user--input--results__title {
  font-weight: 700;
  text-transform: capitalize;
}

.movie__title {
  padding: 12px;
}

.movie__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.movie__year {
  font-weight: 500;
  font-size: 22px;
  padding: 12px;
}

.calendar__icon {
  padding-right: 8px;
}

.sort__elements {
  font-size: 16px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 4px 8px;
}

.page__button__container {
  display: flex;
}

.page--number--results__container {
  display: flex;
  align-items: center;
  margin: 0 18px;
}

.page--number {
  width: 3vw;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  margin-right: 8px;
}

.button--page {
  padding: 16px;
  font-size: 24px;
}

.page--number--result {
  font-size: 24px;
  margin: 16px;
}

.bottom__page--result {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.movie--type {
  text-transform: uppercase;
}

.no--movies__container {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin: 0 20px;
}

/* 
  MODAL SECTION
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  opacity: 1;
}

.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__title {
  font-size: 26px;
}

.modal__subtitle {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__contact {
  width: 100%;
  transform: translateX(110%);
  background-color: #fff;
  color: #000;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #000;
  font-size: 36px;
  z-index: 100;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #55aedf;
  border: 2px solid #55aedf;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  width: 100%;
  max-width: 250px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  background-color: #55aedf;
}

.form__submit:active {
  border-color: #55aedf;
  color: #55aedf;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #fff;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 
  SERVICE UNAVAILABLE SECTION
*/

.service__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: #fff;
}

.service__title {
  padding: 18px 0;
}

/*   
  MOVIE SELECTED SECTION
*/
.movie__selected {
  display: flex;
  padding: 32px;
}

.movie__selected--description {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  width: 60%;
  height: 100%;
}

.movie__selected--top__container {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.movie__selected--genre__container {
  margin-bottom: 12px;
}

.movie__selected--top {
  display: flex;
  align-items: center;
  padding: 12px 32px;
}

.movie__selected--figure {
  width: 40%;
  height: 100%;
}

.arrow {
  font-size: 24px;
}
.arrow--right {
  font-size: 28px;
  margin-left: 12px;
}

.movie__link {
  padding-right: 12px;
  font-size: 16px;
  transition: all 500ms ease;
}

.movie__selected--img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.movie__selected--title {
  font-size: 32px;
}

.movie__selected--info--lists {
  display: flex;
  padding: 8px 0;
}

.movie__selected--list {
  list-style-type: circle;
  margin-right: 32px;
}

.movie__selected--year {
  list-style-type: none;
}

.movie__selected--ratings--title {
  text-align: center;
}

.rating--star {
  color: #f8d440;
  padding-right: 8px;
}

.movie__list--title {
  width: 92px;
}

.movie__lists {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.genre__list {
  margin-right: 32px;
  border: 1px solid #55aedf;
  background-color: #55aedf;
  border-radius: 4rem;
  padding: 4px 12px;
}

.movie__selected--row {
  padding: 18px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.movie__info__list {
  list-style-type: disc;
  margin-left: 32px;
  font-weight: 600;
}

.movie__selected--actor {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* 
  RECOMMENDED MOVIES SECTION
*/

.recommend__container {
  margin-top: 72px;
}

.recommend__title__container {
  padding: 0 18px;
  text-transform: capitalize;
}

.recommend__movies__container {
  display: flex;
  flex-wrap: wrap;
}

/* 
  SKELETON LOADING 
*/
.skeleton {
  background-color: lightgray !important;
  padding: 18px;
}

.result__container--skeleton {
  width: 22%;
  width: 300px;
  height: 600px;
  margin-bottom: 18px;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.movie__title--skeleton,
.movie__year--skeleton {
  margin: 12px 0;
  width: 100%;
}

.movie__selected--figure--skeleton,
.movie__selected--description--skeleton {
  height: 550px;
}

.movie__selected--description--skeleton {
  margin-left: 32px;
}

/* 
    FOOTER SECTION
*/

.footer {
  position: relative;
  padding: 24px 16px;
  background-color: #1f262d;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.footer__para {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

/* 
  RESPONSIVE DESIGN
*/

@media (max-width: 1200px) {
  .movie__img__container {
    height: 400px;
  }
}

@media (max-width: 1111px) {
  .row {
    margin: 0 auto;
  }

  .movie__result__container {
    width: calc((100% / 3));
  }
}

@media (max-width: 1020px) {
  .result__container {
    width: calc(100% / 3);
  }

  .movie__img__container {
    height: 380px;
  }
}

@media (max-width: 900px) {
  .movie__img__container {
    height: 360px;
  }

  .search__title {
    font-size: 24px;
  }

  .movie__title {
    font-size: 20px;
  }

  .movie__year {
    font-size: 16px;
  }

  .button--page {
    font-size: 18px;
  }

  .movie__selected--title {
    font-size: 24px;
  }

  .movie__lists {
    flex-direction: column;
  }

  .genre__lists {
    flex-direction: row;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .movie__result__container {
    width: 50%;
  }

  .movie__img__container {
    height: 350px;
  }

  .search__title {
    font-size: 20px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .search__field,
  .btn--search {
    font-size: 16px;
  }

  .result__container {
    width: 50%;
    padding: 8px;
  }

  .button--page {
    font-size: 16px;
  }

  .genre__list {
    margin-right: 12px;
  }

  .movie__selected--info--lists {
    flex-direction: column;
  }

  .movie__selected--list {
    list-style-type: none;
  }
}

@media (max-width: 690px) {
  .results__title {
    font-size: 24px;
  }

  .search__image {
    width: 400px;
  }
  
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 600px) {
  textarea {
    height: 50px;
  }

  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .header__title {
    font-size: 24px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .movie--results--header--row {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 18px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .result__container {
    padding: 8px;
    width: 80%;
  }

  .movie__img__container {
    height: 280px;
  }

  .search__field,
  .btn--search {
    font-size: 14px;
  }

  .search__title {
    font-size: 16px;
  }

  .results__title {
    padding-bottom: 18px;
    font-size: 18px;
  }

  .sort__elements {
    width: 100%;
  }

  .movie__title {
    font-size: 16px;
  }

  .modal__contact {
    height: fit-content;
    padding: 40px;
  }

  .modal__title {
    font-size: 20px;
  }

  .form__submit {
    padding: 4px;
  }

  .form__item {
    margin-bottom: 12px;
  }

  .modal__exit {
    font-size: 24px;
    top: 20px;
    right: 30px;
  }

  .button--page {
    padding: 8px;
  }

  .movie__selected {
    flex-direction: column;
    align-items: center;
  }

  .movie__selected--figure,
  .movie__selected--description {
    width: 100%;
    padding: 0;
  }

  .movie__selected--description {
    margin-top: 24px;
  }

  .movie__selected--info--lists {
    flex-direction: row;
  }

  .movie__selected--list {
    list-style-type: circle;
  }

  .movie__selected--year {
    list-style-type: none;
  }

  .page--number__container,
  .page--number {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    .movie__result__container {
      width: 75%;
    }

    .movie--results--header--row {
      max-width: 75%;
    }

    .page--number__container,
    .page--number {
      font-size: 18px;
    }
  }

  @media (max-width: 400px) {
    .movie__selected--top__container {
      flex-direction: column-reverse;
      margin-top: 20px;
    }

    .movie__selected--ratings--title {
      text-align: left;
      margin-right: 12px;
    }

    .genre__list {
      font-size: 14px;
    }

    .page--number__container,
    .page--number {
      font-size: 16px;
    }

    .search__image {
      width: 300px;
    }
  }
}
